<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jobs" type="AzureBlobStorageSync.JobsConfigurationSection, AzureBlobStorageSync"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="PayPalPeopleismDev" connectionString="DefaultEndpointsProtocol=https;AccountName=peopleismdev;AccountKey=ReOHa4Hh9dDGe85k5tqQtm5qrv2xGrOvju1qKog7VLSl9kk8OMItB1Sjocq7qbcwWPZAODKbqT6bmGq9GhR2Fg=="/>
    <add name="PayPalPeopleismQA" connectionString="DefaultEndpointsProtocol=https;AccountName=paypalpeopleismqa;AccountKey=y5HD/CCOlIDaDTeM93RCAulD5IRRV4Jy1axt98ixx+kGzUUC7SwWaghjkIBtTGfaCXQa8H4GqIcZPaCYq9lRDQ=="/>
  </connectionStrings>
  <jobs maxAge="0">
    
    <job name="CopyToQA" sourceConnection="PayPalPeopleismDev" destinationConnection="PayPalPeopleismQA" container="public" removeExtraBlobs="true" />
    
    <job name="CopyToQA" sourceConnection="PayPalPeopleismDev" destinationConnection="PayPalPeopleismQA" container="private" removeExtraBlobs="true" />
    <job name="CopyToQA" sourceConnection="PayPalPeopleismDev" destinationConnection="PayPalPeopleismQA" container="photos" removeExtraBlobs="true" />
  </jobs>
</configuration>